/* -----------------
	GENERAL
----------------- */

/* ---- Fonction min max ---- */
@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}

/* ---- MARGIN && PADDING ---- */
@mixin mx($ml, $mr: false) {
	margin-left: $ml;
	@if ($mr) {
		margin-right: $mr;
	} @else {
		margin-right: $ml;
	}
}

@mixin my($mt, $mb: false) {
	margin-top: $mt;
	@if ($mb) {
		margin-bottom: $mb;
	} @else {
		margin-bottom: $mt;
	}
}

@mixin px($pl, $pr: false) {
	padding-left: $pl;
	@if ($pr) {
		padding-right: $pr;
	} @else {
		padding-right: $pl;
	}
}

@mixin py($pt, $pb: false) {
	padding-top: $pt;
	@if ($pb) {
		padding-bottom: $pb;
	} @else {
		padding-bottom: $pt;
	}
}

/* ---- FLEXBOX ---- */
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-x {
	display: flex;
	justify-content: center;
}

@mixin flex-y {
	display: flex;
	align-items: center;
}

/* ---- BOUTONS ---- */

// Bouton contenant
//un icon (svg...)
@mixin icon-btn($width, $ml: 0, $mr: 0) {
	@include flex-y;
	i {
		margin: auto $mr auto $ml;
		width: $width;
		display: flex;
	}
}

// Bouton (plein ou juste border)
@mixin btn($bgcolor, $txt, $rad: 100rem, $bordercolor: $bgcolor) {
	border-radius: $rad;
	background: $bgcolor;
	border: 1px solid $bordercolor;
	color: $txt;
	transition: all 0.3s;
} // border arrondie si radius > btn width {}

/* ---- Liens ---- */
@mixin link-alike($color: $white) {
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: $color;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
		border: none;
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

/* -----------------
	UI KIT
----------------- */

/* <section> du projet */
//grid origin
@mixin grid-12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $space;
}
//maxsize
@mixin max-width {
	max-width: 76.4vw;

	@include screen-md {
		max-width: 100vw;
		padding: $space;
	}
	@include phone {
		max-width: 100vw;
		padding: $space2;
	}
}

/* ---- Shadows ---- */
@mixin ds {
	-webkit-box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
}

@mixin is {
	-webkit-box-shadow: inset 0.25rem 0.25rem 0.5rem
		rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
	box-shadow: inset 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.08);
}

/* ---- Border-radius ---- */
@mixin br1 {
	border-radius: $br1;
}
@mixin br2 {
	border-radius: $br2;
}
@mixin br3 {
	border-radius: $br3;
}

/* ---- Transitions ----*/
@mixin transition($str) {
	-webkit-transition: #{$str};
	-moz-transition: #{$str};
	-ms-transition: #{$str};
	transition: #{$str};
}
