@import "theme";
@import "reset";
@import "fonts";

:root {
	font-size: calc(50% + 0.4vw);
	@include screen-md {
		font-size: calc(50% + 0.85vw);
	}
	@include phone {
		font-size: calc(80% + 0.5vw);
	}
	@include screen-xl {
		font-size: calc(80% + 0.3vw);
	}
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
	background-color: $white;
}
::backdrop {
	background-color: $white;
}

body {
	font-family: "Poppins Light", sans-serif;
	min-height: -webkit-fill-available;

	&.no-scroll {
		height: 100vh;
		overflow-y: hidden;
	}
}

/* -----------------
	GLOBAL
----------------- */

.global-container {
	@include container-width;
}

h1 {
	@include t1;
}
h2 {
	@include t2;
}
h3 {
	@include t3;
}
h4 {
	@include t4-sb;
}

h5 {
	@include caption;

	&.light {
		@include caption-light;
	}
}

p {
	@include body1-light;
}

h6 {
	@include body2-sb;
}

/* -----------------
	INPUTS & FORM RELATED
----------------- */

input,
textarea,
.text-message,
select,
.select-input {
	position: relative;
	width: 100%;
	padding: $sp-200 $sp-300;
	color: $black;
	background-color: $white;
	@include caption-light;
	@include br-300;
	@include ds-300;
	@include border($white);
	@include transition("0.3s border ease, 0.3s box-shadow ease");

	&::placeholder {
		color: $grey-500;
	}
	&:focus {
		@include ds-500;
		@include transition(0.3s box-shadow ease);
	}
	&.error {
		@include border($danger-500);
		@include transition(0.3s border ease);
	}
	&.valid {
		@include border($success);
		@include transition(0.3s border ease);
	}

	.input-error {
		position: absolute;
		color: $danger-500;
		margin-top: $sp-100;
		padding-right: $sp-300;
		@include body2;
	}
}

textarea {
	resize: vertical;
}

/* -----------------
	BUTTONS & LINKS
----------------- */

button {
	position: relative;
	padding: $sp-200 $sp-300;
	@include caption;
	cursor: pointer;

	// LINK
	&.link {
		@include link($white);
	}

	// BLUE BTN
	&.fill-blue {
		@include btn($prim-500, $white, $br-500);

		&:hover,
		&.focus,
		&.active {
			@include btn($prim-700, $white, $br-500);
		}
	}
	&.outline-blue {
		@include btn(transparent, $prim-500, $br-500, $prim-500);

		&:hover,
		&.focus,
		&.active {
			@include btn($prim-500, $white, $br-500);
		}
	}

	// YELLOW BTN
	&.fill-yellow {
		@include btn($sec-500, $white, $br-500);

		&:hover,
		&.focus,
		&.active {
			@include btn($sec-700, $white, $br-500);
		}
	}
	&.outline-yellow {
		@include btn(transparent, $sec-500, $br-500, $sec-500);

		&:hover,
		&.focus,
		&.active {
			@include btn($sec-500, $white, $br-500);
		}
	}

	// RED BTN
	&.fill-danger {
		@include btn($danger-500, $white, $br-500);

		&:hover,
		&.focus,
		&.active {
			@include btn($danger-700, $white, $br-500);
		}
	}
	&.outline-danger {
		@include btn(transparent, $danger-500, $br-500, $danger-500);

		&:hover,
		&.focus,
		&.active {
			@include btn($danger-500, $white, $br-500);
		}
	}
}

a {
	position: relative;
	color: $white;

	&:hover {
		text-decoration: underline;
	}

	&.header-link,
	&.yellow-link {
		text-decoration: none;
	}

	&.header-link {
		&:after {
			@include underlining;
			opacity: 0;
			@include transition(opacity 0.4s);
		}
		&:hover {
			&:after {
				opacity: 1;
				@include transition(opacity 0.4s);
			}
		}
	}

	&.yellow-link {
		&:hover {
			color: $sec-500;
		}
	}
}

/* -----------------
	IMAGES & RELATED
----------------- */

img.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
