@import "theme";
@import "reset";
@import "fonts";

:root {
	font-size: calc(50% + 0.4vw);
	@include screen-md {
		font-size: calc(50% + 0.85vw);
	}
	@include phone {
		font-size: calc(80% + 0.5vw);
	}
	@include screen-xl {
		font-size: calc(80% + 0.3vw);
	}
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
	background-color: $white;
}
::backdrop {
	background-color: $white;
}

body {
	font-family: "Montserrat", sans-serif;
	min-height: -webkit-fill-available;
}

.global-container {
	@include container-width;
}
