/**
 *   Reset les propriétés
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
	outline: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	// typography
	font-kerning: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: rgba(255, 255, 255, 0);
}

//preconf typo [rem]

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	min-height: 100%;
	// background-color: $white;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: "Arial";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $primary;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
}

a {
	text-decoration: none;
}

/* Images et SVG */
img {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

svg {
	width: calc(100% - 1px);
	height: calc(100% - 1px);
}

i {
	font-style: normal;
}
